.columnContainer {
  overflow-y: scroll;
  box-shadow: 2px 5px 7px rgb(74, 152, 32);
}

.columnContainer::-webkit-scrollbar {
  display: none;
}
.rowStyle {
    min-height: 595px;
    max-width: 842px;
    min-width: 500px;
   
  }

